name: Type checking with mypy

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  mypy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: [3.8, "3.10", "3.11"]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mypy>=1.0

    - name: Run mypy
      run: |
        mypy pycoin
